$TTL 4
@       IN SOA  ns1.com. root.com. (
                                        10      ; serial
                                        1D      ; refresh
                                        1H      ; retry
                                        1W      ; expire
                                        3H )    ; minimum

                IN  NS          ns1.com.
{{ root_dns_reverse_num }}              IN  PTR         ns1.com.

;; Domain Delegation
12              IN  PTR         ns1.example.com.
13              IN  PTR         ns1.test.com.
14              IN  PTR         ns1.soldesk.com.
